.categories-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
    height: 100%;
}

.mat-list-item {
    font-family: 'Assistant';
    font-weight: 500;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 20%;
}

.categories-list {
    display: block;
}

.category-name {
    padding-right: 10px;
}

.add-category {
    text-align: center;
    margin-top: 10px;
}

.mat-list-base .mat-list-item {
    font-size: 14px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 100%;
    padding: 10px;
}

.categories-char {
    width: 40%;
}

mat-icon {
    cursor: pointer;
}

.notif-success {
    background-color: rgb(10, 126, 10)
}

.notif-error {
    background-color: rgba(182, 11, 19, 0.87);
}

.notif-info {
    background-color: #0C63CE;
}

.mat-snack-bar-container {
    min-width: 200px !important;
}