<div class="container">
    <mat-tab-group mat-align-tabs="start" dynamicHeight color="accent">
        <mat-tab label="זומרים">
            <ng-template matTabContent>
                <zoomers></zoomers>
            </ng-template>
        </mat-tab>
        <mat-tab label="זומים">
            <ng-template matTabContent>
                <events></events>
            </ng-template>
        </mat-tab>
        <mat-tab label="קטגוריות">
            <ng-template matTabContent>
                <categories></categories>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>