.spinner-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 20%;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #F26D21;
}

.table-zoomers {
   width: 55vw
}

.table-zoomers-request {
    width: 35vw
}

table {
    height: 25vh;
    max-height: 25vh;
    overflow-y: auto;
    margin-right: 2vw;
    font-family: 'Assistant';
}

 .table-title {
     background-color: #E4F7EB;
 }

 .zoomer-num-title {
    margin-right: 2vw;
    margin-top: 2vh;
    font-family: 'Assistant';
 }

 th{
    font-size: 100%;
    font-weight: bold;
 }

 .material-icons.color { 
     color: #46AEA2; 
}
